<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="POST">

    <input type="email" name="Email" placeholder="email"><br>
    <input type="text" name="f_name" placeholder="firstname"><br>
    <input type="text" name="l_name" placeholder="lastname"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="dob" placeholder="dob"><br>

    <input type="submit">

</form>

</body>
</html>