<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="POST">

    <input type="text" name="limit" placeholder="limit"><br>
    <input type="text" name="offset" placeholder="offset"><br>
  
    <input type="submit">

</form>

</body>
</html>